body {
  padding: clamp(10px, 2vw, 20px);
  margin: 0;
}

.container {
  padding: calc(clamp(10px, 2vw, 20px) + clamp(5px, 1.5vw, 8px))  calc(clamp(10px, 2vw, 20px) + clamp(5px, 1.5vw, 8px) + 2em);
  margin: 0 auto;
  position: relative;
}

#testForm {
  text-align: justify;
  font-size: clamp(16px, 3vw, 18px);
}

#submitButton {
  display: block;
  margin: 0 auto;
}

#scoreDisplay {
  text-align: center;
  font-size: clamp(16px, 3vw, 18px);
}

.small-btn {
  padding: clamp(5px, 1.5vw, 8px);
  margin: clamp(10px, 2vw, 20px);
  font-size: clamp(0.7em, 1.5vw, 0.8em);
  cursor: pointer;
  text-transform: uppercase;
  z-index: 10;
}

.back-btn {
  position: fixed;
  top: 0;
  left: 0;
}

.main-btn {
  position: fixed;
  bottom: 0;
  left: 0;
}

.style-btn {
  position: fixed;
  top: 0;
  right: 0;
}

.theme-btn {
  background-color: transparent;
}

button {
  border: none;
  padding: clamp(10px, 2vw, 12px) clamp(15px, 3vw, 25px);
  margin: 0 clamp(5px, 1vw, 10px);
  font-size: clamp(0.9em, 2vw, 1.1em);
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

button:hover {
  background: None;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.question {
  margin-bottom: 19px;
}

.question p {
  font-weight: bold;
  font-size: clamp(16px, 3vw, 18px);
}

.question span {
  font-size: clamp(14px, 2.5vw, 16px);
  font-style: italic;
}

.question li {
  font-size: clamp(14px, 2.5vw, 16px);
  list-style-type: none;
}

.correct-answer {
  display: none;
  font-weight: bold;
  font-size: clamp(14px, 2.5vw, 16px);
}

.answered {
  pointer-events: none;
}
